<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <h1>{{ navText }}</h1>
    </div>
    <div id="product">
      <div id="productImage">
        <img :src="image" class="productImg" />
      </div>
      <div class="productInfo" id="productInfo">
        <h1 :class="{strike:!inStock}" >{{ productTitle }}</h1>
        <p class="sale" v-if="onSale">On Sale</p>
        <p v-if="inStock">In Stock</p>
        <p  v-else >Out of stock</p>
        
        <div>
                
          <ul class="detail">
                <h3>Discription</h3>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
        </div>
        <div class="size">
            <h3>Sizes</h3>
            <ul>
                <li v-for="size in sizes">{{size}}</li>
            </ul>
        </div>
        <button v-on:click="addToCart" :disabled="!inStock" class="btn btn-success">Add to Cart</button>
        <button @click="removeFromCart" class="btn btn-danger">Remove From Cart</button>
        <span class="cart btn btn-info">Cart ({{cart}})</span>
      </div>
    </div>
    
    <div>
        
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        
        

      var nav = new Vue({
        el: ".navbar",
        data: {
          navText: "Shopping Brew"
        }
      });

      var product = new Vue({
        el: "#product",
        data: {
            brand:'Vue Masterfull',
          image: "./images/socks.webp",
          productName: "Socks",
          inStock: true,
          onSale: true,
          details: ["100% Cotton", "Gender Neutral", "Good Quality"],
          sizes:[
              'Small','Large','XL'
          ],
          cart:0
        },
        methods:{
            addToCart: function()
            {
                this.cart++;
            },
            removeFromCart:function()
            {
                if(this.cart!==0)
                {
                    this.cart--;
                }
            }
        },
        computed:{
            productTitle()
            {
                return this.brand + ' ' + this.productName;
            }
        }
      });
      document.title = product.brand + ' ' + product.productName;
    </script>
  </body>
</html>
